body {
    font-family: 'Press Start 2P', cursive;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

.hud {
    height: 70px;
}

.hud div {
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: start;
    background: black;
    color: rgb(127, 185, 33);
    height: 99vh;

}


/* Enemys */
.enemy-container{
    position: relative;
    overflow: hidden;
    flex: 1;
    width: 100%;
    height: 600px; 
}

.enemy {
    image-rendering: pixelated;
    width: 24px;
    height: 24px;
    position : absolute;
    left : 25%;
    top : 50px
}


.E1__A1 { background: url(./Assets/invader_A1.png) no-repeat center; }
.E2__B1 { background: url(./Assets/invader_B1.png) no-repeat center; }
.E3__C1 { background: url(./Assets/invader_C1.png) no-repeat center; }
.E1__A2 { background: url(./Assets/invader_A2.png) no-repeat center; }
.E2__B2 { background: url(./Assets/invader_B2.png) no-repeat center; }
.E3__C2 { background: url(./Assets/invader_C2.png) no-repeat center; }

.bullet__type__1 {
    background: url(./Assets/Enemy_Bullet_A.png) no-repeat center;
}

.bullet__type__2 {
    background: url(./Assets/Enemy_Bullet_B.png) no-repeat center;
}

.bullet__type__3 {
    background: url(./Assets/Enemy_Bullet_C.png) no-repeat center;
}

.player__bullet__type__1 {
    background: url(./Assets/Player_Bullet.png) no-repeat center;
}

.bullet__type__1,
.bullet__type__2,
.bullet__type__3,
.player__bullet__type__1 {
    /* border: 1px solid red; */
    width: 10px;
    height: 10px;
    background-size: contain;
    image-rendering: pixelated;
}

/* player */

.player-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;

}

.player-container .player {
    overflow: hidden;
    align-self:    center;
    width: 5%;
    max-width: 6%;
    background-image: url('../Assets/player.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:  contain;
    image-rendering: pixelated;    /* for blocky style */
    height: 100%;
}


/* bullet */
.bullet {
    will-change: transform;
    width: 8px;
    height: 8px;
    background: url(./Assets/player.png) no-repeat center;
    background-size: contain;
    image-rendering: pixelated;
}