body {
    font-family: 'Press Start 2P', cursive;
    /* box-shadow: 0 0 70px #00ff00, 0 0 140px #00ff00; */
    background-color: #000000; 
}

.game-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: start;
    background: black;
    color: rgb(127, 185, 33);
    height: 98vh;
}

.hud div {
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
}

.enemy {
    image-rendering: pixelated;
    will-change: transform;
    width: 24px;
    height: 24px;
}

.E1__A1 {
    background: url(./Assets/invader_A1.png) no-repeat center;
}

.E2__B1 {
    background: url(./Assets/invader_B1.png) no-repeat center;
}

.E3__C1 {
    background: url(./Assets/invader_C1.png) no-repeat center;
}

.E1__A2 {
    background: url(./Assets/invader_A2.png) no-repeat center;
}

.E2__B2 {
    background: url(./Assets/invader_B2.png) no-repeat center;
}

.E3__C2 {
    background: url(./Assets/invader_C2.png) no-repeat center;
}
